<h2>List of Users</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%# <% @users.each do |user| %> %>
      <tr>
        <td><%= link_to  %></td>
        <td><%=  %></td>
        <td><%= r %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to users List", root_path, class: "btn btn-secondary" %>
